{% extends 'pages/base.jinja' %}

{% block title %} 
    Flask Demo 404
{% endblock %}

{% block content %}
    <section id="hero">
        <h1>Flask Demo Not Found</h1>
    </section>

            <p>No Webpage?</p>
{% endblock %}