section#hero {
    min-height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--pico-primary-background);
}

#things {
    display: flex;
    gap: 1rem;
}

#things article {
    width: 17rem;
}

#things article p {
    height: 7rem;
}